<h1 style="color: #0039a6;">XYZ Institute of Technology</h1>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Content/College.jpg" class="d-block w-100" alt="..." style="height: 400px; width: 500px;">
        </div>
        <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1606761568499-6d2451b23c66?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8dW5pdmVyc2l0eXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" class="d-block w-100" alt="..." style="height: 400px; width: 500px;">
        </div>
        <div class="carousel-item">
            <img src="~/Content/Library.jpg" class="d-block w-100" alt="..." style="height: 400px; width: 500px;">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br />
<div class="d-flex gap-4">
    <div class="card" style="width: 18rem;">
        <img src="https://pallaviengineeringcollege.ac.in/wp-content/uploads/2022/04/CSE-500x372.jpg" class="card-img-top" alt="Card 1" style="height: 170px; width: auto;">
        <div class="card-body">
            <h5 class="card-title">Computer Science</h5>
            <p class="card-text">Passionate about coding! Here is the CSE course</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://www.elprocus.com/wp-content/uploads/Major-Projects-for-ECE.jpg" class="card-img-top" alt="Card 2" style="height: 170px; width: auto;">
        <div class="card-body">
            <h5 class="card-title">Electronics & Communication</h5>
            <p class="card-text">Wanna rock in chip design!! Here is the ECE course</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://vvce.ac.in/wp-content/uploads/2019/12/civil-engineering-services-1-e1646037271752.png" class="card-img-top" alt="Card 3" style="height: 170px; width: auto;">
        <div class="card-body">
            <h5 class="card-title">Civil</h5>
            <p class="card-text">Dreaming about designing buildings, Here is CIVIL course</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://uploads-ssl.webflow.com/626a352c728bdb2d02e14b1c/6290b39dfb26bf9a4a3b875e_what%20is%20mechanical%20engineering.jpg" class="card-img-top" alt="Card 3" style="height: 170px; width: auto;">
        <div class="card-body">
            <h5 class="card-title">Mechanical</h5>
            <p class="card-text">Want to build some automobiles, Here is the MECHANICAL course</p>
        </div>
    </div>
</div>
